# Xcode
build/
*.pbxuser
*.mode1v3
*.perspectivev3
*.xcuserstate
xcuserdata/
DerivedData/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Temporary files
*.swp
.DS_Store
*.log

# Sensitive information
*.p12
*.mobileprovision
Secrets.xcconfig

# Build products
*.app
*.dSYM